<script setup lang="ts">
import { useBillStore } from "@/stores/bill";

const billStore = useBillStore();
</script>
<template>
  <v-dialog v-model="billStore.billdialog" persistent width="600">
    <v-card>
      <v-card-title class="d-flex justify-center align-center">
        <span class="text-h5"><div class="fontM2">D-COFFEE</div></span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <div class="fontsize">Billdetail</div>

          <v-table style="font-family: Arial, Helvetica, sans-serif">
            <thead>
              <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) of billStore.BillList" :key="index">
                <td>{{ item.material.name }}</td>

                <td>{{ item.amount }}</td>
                <td>{{ item.sum }} ฿</td>
              </tr>
            </tbody>
          </v-table>
          <v-container class="table-container">
            <v-table class="table">
              <tbody>
                <tr>
                  <th class="text-left">TOTAL</th>
                  <th class="text-right">{{ billStore.sumPrice }} ฿</th>
                </tr>
                <tr>
                  <th class="text-left">CASH</th>
                  <th class="text-right">{{ billStore.received }} ฿</th>
                </tr>
                <tr>
                  <th class="text-left">CHANGE</th>
                  <th class="text-right">{{ billStore.change }} ฿</th>
                </tr>
              </tbody>
            </v-table>
          </v-container>

          <v-row>
            <v-col>
              <v-table style="text-align: center">Thank you</v-table>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#AF0000"
          variant="text"
          @click="billStore.billdialog = false"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped></style>
