<script setup lang="ts">
import { useBillStore } from "@/stores/bill";
import { useCheckMaterialStore } from "@/stores/checkMaterial";
import { useCheckMaterialDetailStore } from "@/stores/checkMaterialDetail";
import { useMaterialStore } from "@/stores/material";
import { useMaterialPageStore } from "@/stores/page_material";
const checkmaterialStore = useCheckMaterialStore();
const checkmaterialdetailStore = useCheckMaterialDetailStore();
const materialStore = useMaterialStore();
const billStore = useBillStore();
const materialPageStore = useMaterialPageStore();
</script>
<template>
  <v-dialog
    v-model="billStore.Adddialog"
    persistent
    width="55%"
    transition="dialog-bottom-transition"
  >
    <v-card
      color="rgb(109, 93, 110)"
      theme="white"
      class="overflow-y-auto rounded-xl"
      style="
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      "
    >
      <v-container>
        <v-row>
          <v-col
            style="justify-content: center"
            cols="3"
            v-for="item of materialPageStore.materials"
            :key="item.id"
          >
            <v-card
              class="justify-center rounded-xl"
              width="250px"
              height="150px"
              style="background-color: rgb(237, 187, 153)"
            >
              <v-row>
                <v-card-item>
                  <v-card-title style="color: white">{{
                    item.name
                  }}</v-card-title>
                </v-card-item></v-row
              ><v-row>
                <v-col
                  ><v-card-actions>
                    <v-btn
                      height="30"
                      block
                      color="green"
                      @click="billStore.addMaterial(item)"
                      ><div style="color: white">
                        {{ item.name }} {{ item.price_per_unit }}
                        ฿
                      </div></v-btn
                    ></v-card-actions
                  >
                </v-col>
              </v-row></v-card
            >
          </v-col>
          <v-col
            ><v-col>
              <v-row>
                <v-col>
                  <v-card-subtitle style="font-size: large" class="mt-5">
                    Employee name:
                    {{ checkmaterialStore.employeeName }}</v-card-subtitle
                  ></v-col
                >
                <v-col></v-col>

                <v-col>
                  <v-text-field
                    v-model="materialPageStore.keyword"
                    single-line
                    hide-details
                    append-inner-icon="mdi-magnify"
                    density="compact"
                    variant="solo"
                    label="Search Name"
                    class="mt-2"
                    style="
                      width: 25vw;
                      font-family: 'Franklin Gothic Medium', 'Arial Narrow',
                        Arial, sans-serif;
                    "
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-card-text class=""> </v-card-text>

              <v-container>
                <v-table width="50%" class="overflow-auto"
                  ><v-list
                    subheader
                    two-line
                    class="mt-3 overflow-hidden"
                    style="border-radius: 10px"
                    v-for="(item, index) of billStore.BillList"
                    :key="index"
                  >
                    <v-row>
                      <v-col cols="2" class="ml-4">{{
                        item.material.name
                      }}</v-col>
                      <v-col cols="2" class="ml-4">X {{ item.amount }}</v-col>
                      <v-col cols="2" class="ml-4">{{ item.sum }} ฿</v-col>
                      <v-col>
                        <v-btn
                          color="#c8a27c"
                          size="small"
                          flat
                          outline
                          icon="mdi-trash-can-outline"
                          @click="billStore.deleteMaterialList(index)"
                        >
                        </v-btn>
                      </v-col> </v-row
                  ></v-list>

                  <v-toolbar color="rgba(0,0,0,0)" flat>
                    <v-card-item class="sizefont sizefont2">Total:</v-card-item>
                    <v-card-item class="fontG">
                      {{ billStore.sumPrice }}฿</v-card-item
                    >
                  </v-toolbar>
                  <v-toolbar color="rgba(0,0,0,0)" flat>
                    <v-card-item class="sizefont sizefont2">Cash:</v-card-item>
                    <v-text-field
                      variant="underlined"
                      class="fontG"
                      v-model="billStore.received"
                      single-line
                      required
                      clearable
                      :rules="[
                        (v) => !!v || 'This field is required',
                        (v) => !isNaN(v) || 'Please input number',
                      ]"
                    ></v-text-field
                    ><v-card-item class=""> </v-card-item>
                  </v-toolbar>
                  <v-toolbar color="rgba(0,0,0,0)" flat>
                    <v-card-item class="sizefont sizefont2"
                      >Change: </v-card-item
                    ><v-card-item>
                      <th
                        class=""
                        v-if="billStore.received < billStore.sumPrice"
                      >
                        not enough money
                      </th>
                      <th v-else>
                        {{
                          (billStore.change =
                            billStore.received - billStore.sumPrice)
                        }}
                      </th>
                    </v-card-item>
                  </v-toolbar>
                </v-table>
              </v-container>
            </v-col></v-col
          >
        </v-row>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          class="fontF"
          color="green"
          variant="text"
          @click="billStore.openmaterialBill()"
        >
          Bill
        </v-btn>
        <v-btn
          class=""
          color="#AF0000"
          variant="text"
          @click="
            (billStore.Adddialog = false),
              checkmaterialStore.clearCheckMat(),
              billStore.clearBill()
          "
        >
          Close
        </v-btn>
        <v-btn
          class=""
          color="blue"
          variant="text"
          @click="billStore.openBill()"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped>
.wid {
  width: 50%;
}
</style>
