<script setup lang="ts">
import { useCheckMaterialStore } from "@/stores/checkMaterial";
import { useCheckMaterialDetailStore } from "@/stores/checkMaterialDetail";
import { useMaterialStore } from "@/stores/material";
import { useMaterialPageStore } from "@/stores/page_material";
const checkmaterialStore = useCheckMaterialStore();
const checkmaterialdetailStore = useCheckMaterialDetailStore();
const materialStore = useMaterialStore();
const materialPageStore = useMaterialPageStore();
</script>
<template>
  <v-dialog v-model="checkmaterialdetailStore.dialog" scrim width="80%" transition="dialog-bottom-transition">
    <v-card color="rgb(109, 93, 110)" theme="white" class="overflow-y-auto"
      style="
                                                                                                                                                                                                                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                                                                                                                                                                  ">
      <v-container>
        <v-row><v-col><v-card-title class="">
              <div class="menu text-white">CHECK MATERIAL</div>
            </v-card-title>
          </v-col></v-row>
        <v-row>
          <v-col>

            <v-row>
              <v-col><v-card-title class="one text-white">
                  EMPLOYEE NAME :
                  {{ checkmaterialStore.employeeName }}
                </v-card-title></v-col>
              <v-col>
                <v-text-field v-model="materialPageStore.keyword" append-inner-icon="mdi-magnify" variant="solo"
                  label="Search Name" height="20" style="font-size: 14px; "> </v-text-field>
              </v-col>
            </v-row>

            <v-row>

              <v-container>
                <v-row>
                  <v-col>
                    <v-card-text>
                      <v-table style=" font-family: Arial, Helvetica, sans-serif">
                        <thead class="tColor1">
                          <tr style="background-color: #454545; color: #f1f1f1">
                            <th class="one" style="color: white">NAME</th>
                            <th class="one" style="color: white">QUANTITY</th>
                            <th class="one" style="color: white">UNIT</th>
                            <th class="one" style="color: white">
                              PRICE PER UNIT
                            </th>
                            <th class="one" style="color: white">QTY REMAIN</th>
                            <th class="one" style="color: white">QTY EXPIRE</th>
                            <th class="one" style="color: white">STUTAS</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="item of materialPageStore.materials" :key="item.id">
                            <td class="two">{{ item.name }}</td>
                            <td class="two">{{ item.quantity }}</td>
                            <td class="two">{{ item.unit }}</td>
                            <td class="two">{{ item.price_per_unit }}</td>
                            <td>
                              <v-card-text>
                                <v-text-field density="compact" variant="solo" width="auto" class="vtextfieldsize"
                                  required v-model="item.qty_remain" :rules="[
                                    (v) => !!v || 'Item is required',
                                    (v) =>
                                      parseInt(v) <= item.quantity ||
                                      'qty remain must be less quantity',
                                  ]"></v-text-field>
                              </v-card-text>
                            </td>
                            <td>
                              <v-card-text>
                                <v-text-field density="compact" variant="solo" width="auto" class="vtextfieldsize"
                                  required v-model="item.qty_expire" :rules="[
                                    (v) => !!v || 'Item is required',
                                    (v) =>
                                      parseInt(v) <= item.quantity ||
                                      'qty expire must be less  quantity',
                                  ]"></v-text-field>
                              </v-card-text>
                            </td>

                            <td v-if="
                              item.quantity < item.min_quantity &&
                              item.quantity != 0
                            ">
                              <v-btn color="yellow" prepend-icon="mdi-basket-fill"></v-btn>
                            </td>
                            <td v-else-if="item.quantity >= item.min_quantity">
                              <v-btn color="green" prepend-icon="mdi-basket-check-outline"></v-btn>
                            </td>
                            <td v-else-if="item.quantity == 0">
                              <v-btn color="red" prepend-icon="mdi-basket-off-outline">
                              </v-btn>
                            </td>
                          </tr>
                        </tbody>
                      </v-table>
                    </v-card-text>
                  </v-col>
                </v-row>
              </v-container>
            </v-row>
            <v-row style="float: right;" class="mb-5 "> <v-btn color="red" @click="
              (checkmaterialdetailStore.dialog = false),
              checkmaterialStore.clearCheckMat()
            ">
                Close
              </v-btn>

              <v-btn color="green" class="ml-5" @click="
                checkmaterialStore.openCheckMaterial(),
                checkmaterialStore.clearCheckMatDetail()
              ">
                Save
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<style>
.menu {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.one {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
}

.two {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: medium;
}
</style>
