<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useMaterialStore } from "@/stores/material";
import { onMounted, ref } from "vue";
import { useMaterialPageStore } from "@/stores/page_material";
import { useCheckMaterialStore } from "@/stores/checkMaterial";
import MaterialDialog from "./MaterialDialog.vue";
import MaterialDetailCheck from "./MaterialDetailCheck.vue";
import CheckMaterialDialog from "./MaterialDialog.vue";
import BillMaterial from "./BillMaterial.vue";
import BillAddMaterialDialog from "./BillAddMaterialDialog.vue";
const materialStore = useMaterialStore();
const materialPageStore = useMaterialPageStore();
const confirmDlg = ref();
onMounted(async () => {
  await materialPageStore.getMaterials();
});
const deleteMaterial = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ Id ${id} หรือไม่`
    );
    await materialStore.deleteMaterial(id);
  } catch (e) {
    /* empty */
  }
};

const checkmaterialStore = useCheckMaterialStore();
</script>
<template>
  <v-container>
    <v-container class="d-flex justify-start">
      <v-row>
        <v-col></v-col>
        <v-col>
          <v-text-field v-model="materialPageStore.keyword" append-inner-icon="mdi-magnify" variant="solo"
            label="Search Name" height="20" style="font-size: 14px; "> </v-text-field>
        </v-col>
      </v-row>
      <v-table>
        <thead>
          <tr>
            <td>
              <v-btn @click="checkmaterialStore.dialog = true" color="blue" prepend-icon="mdi-truck-check-outline"
                class="rounded-pill one">Check
              </v-btn>
              <v-btn @click="checkmaterialStore.Adddialog = true" color="green" prepend-icon="mdi-truck-plus-outline"
                class="ml-5 rounded-pill one ">Add </v-btn>
            </td>
          </tr>
        </thead>
      </v-table>
    </v-container>
    <MaterialDialog></MaterialDialog>
    <MaterialDetailCheck></MaterialDetailCheck>
    <CheckMaterialDialog></CheckMaterialDialog>
    <BillMaterial></BillMaterial>
    <BillAddMaterialDialog></BillAddMaterialDialog>
    <v-card>
      <v-table style="font-family: Arial, Helvetica, sans-serif">
        <thead>
          <tr style="background-color: #454545; color: #f1f1f1">
            <th class="one" style="color: white">ID</th>
            <th class="one" style="color: white">Name</th>
            <th class="one" style="color: white">Min Quantity</th>
            <th class="one" style="color: white">Quantity</th>
            <th class="one" style="color: white">Unit</th>
            <th class="one" style="color: white">Price per unit</th>
            <th class="one" style="color: white">Status</th>
            <th class="one" style="color: white">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item of materialPageStore.materials" :key="item.id">
            <td class="two">{{ item.id }}</td>
            <td class="two">{{ item.name }}</td>
            <td class="two">{{ item.min_quantity }}</td>
            <td class="two">{{ item.quantity }}</td>
            <td class="two">{{ item.unit }}</td>
            <td class="two">{{ item.price_per_unit }}</td>

            <td v-if="item.quantity < item.min_quantity && item.quantity != 0">
              <v-btn color="yellow" prepend-icon="mdi-basket-fill"></v-btn>
            </td>
            <td v-else-if="item.quantity >= item.min_quantity">
              <v-btn color="green" prepend-icon="mdi-basket-check-outline"></v-btn>
            </td>
            <td v-else-if="item.quantity == 0">
              <v-btn color="red" prepend-icon="mdi-basket-off-outline">
              </v-btn>
            </td>
            <td>
              <v-btn @click="materialPageStore.deleteMaterial(item.id!)" icon="mdi-trash-can-outline"
                color="error"></v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-container>
</template>

<style scoped>
.size {
  width: 200px;
}

.one {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
}

.two {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: medium;
}
</style>
