<script setup lang="ts">
import { useCheckMaterialStore } from "@/stores/checkMaterial";
import { useCheckMaterialDetailStore } from "@/stores/checkMaterialDetail";
const checkmaterialStore = useCheckMaterialStore();
const checkmaterialdetailStore = useCheckMaterialDetailStore();
</script>
<template>
  <v-dialog v-model="checkmaterialStore.Adddialog" persistent width="520" transition="dialog-bottom-transition">
    <v-card height="250">
      <v-card-title class=" ml-7 mt-2 one"> EMPLOYEE TEL</v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field label="Your Phone Number*" required v-model="checkmaterialStore.employee" :rules="[
                  (v) => !!v || 'Item is required',
                  (v) => v.length == 10 || 'Length must equal 10',
                ]" variant="underlined"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-row style="float: right;" class="mb-4 ml-5 "> <v-btn color="red" @click="
        (checkmaterialStore.Adddialog = false),
        checkmaterialStore.clearCheckMat()
      ">
          Close
        </v-btn>
        <v-btn color="green" class="ml-5" @click="
          checkmaterialStore.findEmpAddMaterial()
        ">
          FIND
        </v-btn>
      </v-row>

    </v-card>
  </v-dialog>
</template>
<style>
.menu {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.one {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  font-weight: bold;
}

.two {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: medium;
}
</style>
