<script setup lang="ts">
import { useCheckMaterialStore } from "@/stores/checkMaterial";
const checkmaterialStore = useCheckMaterialStore();
</script>

<template>
  <v-dialog v-model="checkmaterialStore.dialog" persistent width="500" transition="dialog-bottom-transition">
    <v-card height="250">
      <v-card-title class="ml-7 mt-2"> EMPLOYEE TEL</v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field label=" Phone number*" required v-model="checkmaterialStore.employee" :rules="[
                  (v) => !!v || 'Item is required',
                  (v) => v.length == 10 || 'Length must equal 10',
                ]"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <v-row style="float: right;" class="mb-5 "> <v-btn color="red" @click="
          (checkmaterialStore.dialog = false),
          checkmaterialStore.clearCheckMat()
        ">
            Close
          </v-btn>

          <v-btn color="green" class="ml-5" @click="
            checkmaterialStore.findEmpCheckMaterial()
          ">
            Find
          </v-btn>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<style></style>
