<script lang="ts" setup>
import { useStoreStore } from "@/stores/store";
import { onMounted } from "vue";
import StoreDialog from "./StoreDialog.vue";

const storeStore = useStoreStore();

onMounted(async () => {
  await storeStore.getStores();
});
</script>
<template>
  <v-container>
    <v-row
      ><v-col> </v-col>
      <v-col>
        <v-btn
          @click="storeStore.dialog = true"
          prepend-icon="mdi-plus-circle"
          color="green"
          style="float: right"
          class="rounded-pill"
          size="large"
          >ADD NEW</v-btn
        ></v-col
      ></v-row
    >

    <StoreDialog></StoreDialog>

    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #454545; color: #f1f1f1">
            <v-col cols="2" class="one">ID</v-col>
            <v-col cols="2" class="one">NAME</v-col>
            <v-col cols="2" class="one">ADDRESS_STATE</v-col>
            <v-col cols="2" class="one">ADDRESS_CITY</v-col>
            <v-col cols="2" class="one">TEL</v-col>
            <v-col cols="2" class="one">OPERATIONS</v-col>
          </v-row>
          <v-row v-for="item of storeStore.stores" :key="item.id">
            <v-col cols="2" class="two">{{ item.id }}</v-col>
            <v-col cols="2" class="two">{{ item.name }}</v-col>
            <v-col cols="2" class="two">{{ item.address_state }}</v-col>
            <v-col cols="2" class="two">{{ item.address_city }}</v-col>
            <v-col cols="2" class="two">{{ item.tel }}</v-col>
            <v-col cols="2" class="two"
              ><v-btn
                class="mr-5"
                @click="storeStore.editStore(item)"
                icon="mdi-pencil-circle"
                color="blue"
              ></v-btn
              ><v-btn
                @click="storeStore.deleteStore(item.id!)"
                icon="mdi-trash-can-outline"
                color="error"
              ></v-btn
            ></v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.one {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
}

.one2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

.two {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: medium;
}

.two2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  font-size: medium;
}

.three {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
</style>
