<script setup lang="ts">
import { useCheckinoutStore } from "@/stores/checkinout";
import { ref } from "vue";

const disabledIn = ref(false);
const disabledOut = ref(false);
const checkinoutStore = useCheckinoutStore();
</script>
<template>
  <v-app-bar
    color="rgb(92, 50, 21"
    style="font-family: fantasy; font-size: 45px; color: rgb(237, 205, 168)"
  >
    <v-toolbar-title class="font">D COFFEE CAFE</v-toolbar-title>
    <v-toolbar-items>
      <v-tabs centered style="border-top: 2px solid rgb(92, 59, 21)">
        <v-tab>
          <v-btn
            color="blue"
            :disabled="disabledIn"
            @click="(disabledIn = true), checkinoutStore.openCheckin()"
            class="font2"
            >CHECK IN</v-btn
          >
          <v-btn
            color="red"
            :disabled="disabledOut"
            @click="(disabledOut = true), checkinoutStore.openCheckout()"
            class="ml-5 font2"
            >CHECK OUT</v-btn
          >
        </v-tab>
      </v-tabs>
    </v-toolbar-items>
  </v-app-bar>
</template>

<style scoped>
.font {
  font-family: fantasy;
  font-size: 35px;
  color: rgb(237, 205, 168);
}

.font2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  color: white;
  font-weight: bold;
}
</style>
