<script lang="ts" setup>
import { useCategoryStore } from "@/stores/category";
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";

const productStore = useProductStore();
onMounted(() => {
  productStore.getProducts();
});
const categoryStore = useCategoryStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
onMounted(async () => {
  // await productStore.getProducts();
  await categoryStore.getCategory();
  await productStore.getProductsByCategory(productStore.category);
});
</script>
<template>
  <v-container>
    <v-row
      ><v-col>
        <v-tabs v-model="productStore.category">
          <v-tab
            v-for="item of categoryStore.category"
            :value="item.id"
            :key="item.id"
            >{{ item.name }}
          </v-tab>
        </v-tabs>
      </v-col>
      <v-col>
        <v-btn
          @click="productStore.dialog = true"
          prepend-icon="mdi-plus-circle"
          color="green"
          style="float: right"
          class="rounded-pill"
          >ADD NEW</v-btn
        ></v-col
      ></v-row
    >

    <ProductDialog></ProductDialog>

    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #454545; color: #f1f1f1">
            <v-col cols="1" class="one">ID</v-col>
            <v-col cols="1.7" class="one">IMAGE</v-col>
            <v-col cols="1.7" class="one">NAME</v-col>
            <v-col cols="1.7" class="one">PRICE</v-col>
            <v-col cols="1.7" class="one">TYPE</v-col>
            <v-col cols="1.7" class="one">SIZE</v-col>
            <v-col cols="1.7" class="one">OPERATIONS</v-col>
          </v-row>
          <v-row v-for="item of productStore.products" :key="item.id">
            <v-col cols="1" class="two">{{ item.id }}</v-col>
            <v-col cols="1.7" class="three"
              ><v-img
                :src="`${backendURL}/products/image/${item.image}`"
                height="128px"
              ></v-img
            ></v-col>
            <v-col cols="1.7" class="two">{{ item.name }}</v-col>
            <v-col cols="1.7" class="two">{{ item.price }}</v-col>
            <v-col cols="1.7" class="two">{{ item.type }}</v-col>
            <v-col cols="1.7" class="two">{{ item.size }}</v-col>
            <v-col cols="1.7" class="two"
              ><v-btn
                class="mr-5"
                @click="productStore.editProduct(item)"
                icon="mdi-pencil-circle"
                color="blue"
              ></v-btn
              ><v-btn
                @click="productStore.deleteProduct(item.id!)"
                icon="mdi-trash-can-outline"
                color="error"
              ></v-btn
            ></v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.one {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
}

.one2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

.two {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: large;
}

.three {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
</style>
