<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { useReceiptStore } from "@/stores/receipt";
import type Receipt from "@/types/Receipt";
import { onMounted } from "vue";

const receiptStore = useReceiptStore();
onMounted(async () => {
  await receiptStore.getReceipts();
  console.log(receiptStore.receipts);
});

// const customerStore = useCustomerStore();
const Click = (receipt: Receipt) => {
  receipt.show = !receipt.show;
};
</script>

<template>
  <v-container class="mt-5">
    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #454545; color: #f1f1f1">
            <v-col cols="1" class="one">ID</v-col>
            <v-col cols="2" class="one">STORE NAME</v-col>
            <v-col cols="2" class="one">EMPLOYEE NAME</v-col>
            <v-col cols="2" class="one">CUSTOMER NAME</v-col>
            <v-col cols="2" class="one">PAYMENT</v-col>
            <v-col cols="2" class="one">TOTAL</v-col>
          </v-row>
          <v-divider class="my-3"></v-divider>
          <v-row
            v-for="receipt of receiptStore.receipts"
            :key="receipt.id"
            @click="Click(receipt)"
          >
            <v-col cols="1" class="one">{{ receipt.id }}</v-col>
            <v-col cols="2" class="one">{{ receipt.store.name }}</v-col>
            <v-col cols="2" class="one">{{
              receipt.employee ? receipt.employee.name : ""
            }}</v-col>
            <v-col
              cols="2"
              class="one"
              v-if="receipt.customer?.id?.valueOf() != null"
              >{{ receipt.customer?.name }}
            </v-col>
            <v-col cols="2" class="one" v-else>General Customer </v-col>
            <v-col cols="2" class="one">{{ receipt.payment }}</v-col>
            <v-col cols="2" class="one">{{ receipt.total }} THB</v-col>
            <v-col cols="1">
              <v-btn color="green">
                <v-icon icon="mdi-receipt-text" color="white"></v-icon>
                <v-overlay
                  activator="parent"
                  v-show="receipt.show"
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <v-card height="auto" width="500px">
                    <div
                      style="
                        padding: 20px;
                        border: 2px solid black;
                        border-radius: 5px;
                        font-family: monospace;
                      "
                    >
                      <div
                        style="
                          display: flex;
                          justify-content: space-between;
                          border-bottom: 1px solid black;
                          padding-bottom: 5px;
                          margin-bottom: 10px;
                        "
                      >
                        <div style="flex: 1" class="ek">MENU</div>
                        <div style="flex: 1" class="ek">PRICE</div>
                        <div style="flex: 1" class="ek">AMOUNT</div>
                        <div style="flex: 1" class="ek">TOTAL</div>
                      </div>
                      <div
                        v-for="receiptdetails of receipt.receiptdetails"
                        :key="receiptdetails.id"
                        style="
                          display: flex;
                          justify-content: space-between;
                          margin-bottom: 5px;
                        "
                      >
                        <div style="flex: 1">
                          {{ receiptdetails.name || "" }}
                        </div>
                        <div style="flex: 1">{{ receiptdetails.price }} ฿</div>
                        <div style="flex: 1">{{ receiptdetails.amount }}</div>
                        <div style="flex: 1">{{ receiptdetails.total }} ฿</div>
                      </div>
                      <div
                        style="
                          display: flex;
                          justify-content: space-between;
                          margin-top: 10px;
                          font-weight: bold;
                        "
                      >
                        <div style="flex: 1; text-align: right">TOTAL:</div>
                        <div style="flex: 1">{{ receipt.total }} BAHT</div>
                      </div>
                    </div>
                  </v-card>
                </v-overlay>
              </v-btn>
            </v-col>
            <v-divider></v-divider>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.one {
  font-family: serif;
  font-size: large;
}

.two {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  /* font-weight: bold; */
}

.three {
  font-family: serif;
  font-size: medium;
  font-weight: bold;
}

.four {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

.ek {
  font-family: monospace;
  font-weight: bold;
}
</style>
