<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const customerStore = useCustomerStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await customerStore.saveCustomer();
  }
}
</script>
<template>
  <v-dialog v-model="customerStore.dialog2" persistent width="1024">
    <v-container>
      <v-card>
        <v-text-field
          v-model="customerStore.keyword"
          clearable
          label="Phone Number"
          type="text"
          variant="solo"
        >
        </v-text-field>
        <v-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Tel</th>
              <th>Point</th>
              <th>Start_date</th>
              <th>Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of customerStore.customers" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.point }}</td>
              <td>{{ item.start_date }}</td>
              <td>
                <v-btn
                  class="mr-5"
                  @click="customerStore.useCustomer(item)"
                  icon="mdi-plus"
                  color="green"
                ></v-btn>
              </td>
            </tr>
            <v-card-actions>
              <v-btn
                color="blue-darken-1"
                variant="text"
                @click="customerStore.dialog2 = false"
              >
                Close
              </v-btn>
            </v-card-actions>
          </tbody>
        </v-table>
      </v-card>
    </v-container>
  </v-dialog>
</template>
