<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { onMounted, ref } from "vue";
import CustomerDialog from "./CustomerDialog.vue";
import CustomerMagnify from "./CustomerMagnify.vue";

const customerStore = useCustomerStore();
const called = ref(false);

onMounted(async () => {
  await customerStore.getCustomers();
  await customerStore.getReportCustomer();
});
</script>
<template>
  <v-container>
    <v-row style="float: right">
      <v-switch color="blue" inset @click="called = !called"></v-switch>
    </v-row>
  </v-container>

  <!-- <v-text-field v-model=" customerStore.keyword"></v-text-field> -->

  <v-container v-if="!called">
    <v-container style="max-width: 50%">
      <v-row>
        <v-col style="width: auto">
          <v-text-field
            v-model="customerStore.keyword"
            clearable
            type="text"
            variant="solo"
            label="Phone Number"
            class="size"
            style="width: auto"
            append-inner-icon="mdi-magnify"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-btn
            @click="customerStore.dialog = true"
            prepend-icon="mdi-plus-circle"
            color="green"
            class="rounded-pill"
            size="large"
            >Add New</v-btn
          >
        </v-col>
      </v-row>
      <CustomerMagnify></CustomerMagnify>
      <CustomerDialog></CustomerDialog>
    </v-container>
    <v-container>
      <v-row>
        <v-col>
          <v-card-text>
            <v-row style="background-color: #454545; color: #f1f1f1">
              <v-col cols="2" class="one">ID</v-col>
              <v-col cols="2" class="one2">NAME</v-col>
              <v-col cols="2" class="one">TEL</v-col>
              <v-col cols="2" class="one">POINT</v-col>
              <v-col cols="2" class="one">START DATE</v-col>
              <v-col cols="2" class="one">OPERATIONS</v-col>
            </v-row>
            <v-row v-for="item of customerStore.customers" :key="item.id">
              <v-col cols="2" class="two">{{ item.id }}</v-col>
              <v-col cols="2" class="three">{{ item.name }}</v-col>
              <v-col cols="2" class="two">{{ item.tel }}</v-col>
              <v-col cols="2" class="two">{{ item.point }}</v-col>
              <v-col cols="2" class="two">{{ item.start_date }}</v-col>

              <v-col cols="2" class="two"
                ><v-btn
                  class="mr-5"
                  @click="customerStore.editCustomer(item)"
                  icon="mdi-pencil-circle"
                  color="blue"
                ></v-btn
                ><v-btn
                  @click="customerStore.deleteCustomer(item.id!)"
                  icon="mdi-trash-can-outline"
                  color="error"
                ></v-btn
              ></v-col>
            </v-row>
          </v-card-text>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
  <v-container v-if="called" style="max-width: 50%">
    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #454545; color: #f1f1f1">
            <v-col cols="4" class="one2">NAME</v-col>
            <v-col cols="4" class="one">TEL</v-col>
            <v-col cols="4" class="one">POINT</v-col>
          </v-row>
          <v-row v-for="item2 of customerStore.customerReport" :key="item2.id">
            <v-col cols="4" class="three">{{ item2.name }}</v-col>
            <v-col cols="4" class="two">{{ item2.tel }}</v-col>
            <v-col cols="4" class="two">{{ item2.point }}</v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.size {
  width: 20%;
}

.one {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
}

.one2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

.two {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: large;
}

.three {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
</style>
