<script setup lang="ts">
import BestProduct from "@/components/ChartComponent/BestProduct.vue";
import BestSaleCurcol from "@/components/ChartComponent/BestSaleCurcol.vue";
import SaleDayofWeek from "@/components/ChartComponent/SaleDayofWeek.vue";
import Sale from "@/components/ChartComponent/Sale.vue";
import { useCustomerStore } from "@/stores/customer";
import { useReceiptStore } from "@/stores/receipt";
import { onMounted, ref } from "vue";
const customerStore = useCustomerStore();
const receiptsStore = useReceiptStore();
onMounted(async () => {
  await customerStore.getCustomers();
  await customerStore.getCustomerByPoint();
  await receiptsStore.getTotalsalebyday();
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #454545; color: #f1f1f1">
            <v-col cols="12" class="one">Key Metrics</v-col>
          </v-row>
          <v-row>
            <v-col cols="2" class="two">Revenue/day</v-col>
            <v-col cols="4" class="two">Orders/day</v-col>
            <v-col cols="4" class="two">Totals/Day of Week</v-col>
          </v-row>
          <v-row cols="12" class="three" v-for="item of receiptsStore.totalbyday" :key="item.id">
            <v-col cols="4"> {{ item.SumTotal }} Baht </v-col>
            <v-col cols="4" class="three">{{ item.SumQuantity }} Orders</v-col>
            <v-col cols="4">
              <Sale></Sale>
            </v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #ffa559; color: #f1f1f1">
            <v-col cols="12" class="one">Chart Weekly Revenue</v-col>
          </v-row>
          <v-row>
            <v-col cols="3" class="two">Sales Of Beverage (THB) </v-col>
            <v-col cols="3" class="two"></v-col>
            <v-col cols="3" class="two ml-16">Best Seller( 5 Order) </v-col>
          </v-row>
          <v-row>
            <v-col cols="5" class="three">
              <SaleDayofWeek></SaleDayofWeek>
            </v-col>
            <v-col cols="2"></v-col>
            <v-col cols="5" class="three">
              <BestSaleCurcol></BestSaleCurcol>
            </v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #243763; color: #f1f1f1">
            <v-col cols="12" class="one">Best Customer and Recommend Menu</v-col>
          </v-row>
          <v-row>
            <v-col cols="6" class="two">Best Customer</v-col>
            <v-col cols="6" class="two">Recommend Menu</v-col>
          </v-row>
          <v-row>
            <v-col cols="6" class="two">
            <v-card height="auto">
              <v-table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Point</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="fontD" v-for="item of customerStore.customerBypoint" :key="item.id">
                      <td>{{ item.name }}</td>
                      <td>{{ item.point }}</td>
                    </tr>
                  </tbody>
                </v-table></v-card></v-col>
            <v-col cols="6" class="fontpic">
              <!-- <v-carousel :show-arrows="false" height="400px">
                                                                                                                                                            <v-carousel-item v-for="(item, i) in items" :key="i" :src="item.src"></v-carousel-item>
                                                                                                                                                          </v-carousel> -->
              <v-carousel show-arrows="hover" height="420">
                <v-carousel-item
                  src="https://media.discordapp.net/attachments/1055391782336213043/1094355777038323802/Cappuccino.png?width=453&height=502">Cappuccino</v-carousel-item>

                <v-carousel-item
                  src="https://media.discordapp.net/attachments/1055391782336213043/1094355777919123558/Coco.png?width=360&height=502">Coco</v-carousel-item>

                <v-carousel-item
                  src="hhttps://media.discordapp.net/attachments/1055391782336213043/1094355777336135860/Berry_Cheese.png?width=360&height=502">Berry
                  Cheese</v-carousel-item>
              </v-carousel>
            </v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.one {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.two {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.three {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.fontpic {
  font-size: 45px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}
</style>
