<script setup lang="ts"></script>

<template>
  <v-toolbar color="rgb(92, 50, 21)">
    <v-toolbar-title class="font">D COFFEE CAFE</v-toolbar-title>
    <v-toolbar-items>
      <v-tabs centered style="border-top: 2px solid rgb(92, 59, 21)">
        <v-tab>
          <v-btn to="/dashboard" class="font2">Dash Board</v-btn>
          <v-btn to="/pos" class="font2">Point Of Sale</v-btn>
          <v-btn to="/product" class="font2">Product</v-btn>
          <v-btn to="/material" class="font2">Material</v-btn>
          <v-btn to="/store" class="font2">Store</v-btn>
          <v-btn to="/customer" class="font2">Customer</v-btn>
          <v-btn to="/login" class="font2">Logout</v-btn>
        </v-tab>
      </v-tabs>
    </v-toolbar-items>
  </v-toolbar>
  <v-main class="body">

    <body>
      <h1 class="font3">The D Coffee Cafe</h1>
      <h1 class="font4">Since 2023</h1>
      <h1 class="font4">cafe beverage in burapa university</h1>
      <h1 class="font4">Today’s good mood is sponsored by beverage.</h1>
    </body>
  </v-main>
</template>

<style scoped>
.font {
  font-family: fantasy;
  font-size: 35px;
  color: rgb(237, 205, 168);
}

.font2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  color: white;
}

.font3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 80px;
  color: white;
  text-shadow: 10px 10px 10px #302314, 0 0 5px #472606;
}

.font4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 10px 10px 10px #f0d1aa, 0 0 5px #311e0c;
}

.body {
  background: url(https://cdn.discordapp.com/attachments/889368640275759175/1091996709418184724/1.jpg) no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: bisque;
  opacity: 0.8;
}
</style>
