<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const authStore = useAuthStore();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
const OP = true;
</script>

<template>
  <v-app>
    <v-main class="body">
      >
      <v-overlay v-model="OP" class="justify-center">
        <v-table
          class="mt-12 mx-auto rounded-xl justify-center"
          style="
            background-image: url(https://img.freepik.com/free-vector/watercolor-chinese-style-background_52683-96100.jpg);
            background-size: 100%;
          "
        >
          <tbody>
            <th style="width: 500px; background-color: black; opacity: 0.75">
              <center>
                <div class="logo"></div>
              </center>
              <h1
                style="
                  font-family: fantasy;
                  font-size: 45px;
                  text-align: center;
                  color: blanchedalmond;
                "
              >
                D COFFEE CAFE
              </h1>
            </th>
            <th>
              <v-card
                width="400px"
                height="550px"
                class="mx-auto"
                color="transparent"
              >
                <v-card-title primary-title class="text"> LOGIN</v-card-title>
                <v-card-text>
                  <v-form ref="form" v-model="valid" class="mt-12">
                    <v-text-field
                      class="rounded-lg"
                      label="EMAIL"
                      v-model="loginName"
                      style="
                        background-color: bisque;
                        opacity: 0.91;
                        font-weight: 900;
                      "
                      :rules="[
                        (v) => !!v || 'Email is required',
                        (v) =>
                          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(
                            v
                          ) || 'Email is not valid!!',
                      ]"
                      required
                    ></v-text-field>
                    <v-text-field
                      class="mt-5 rounded-lg"
                      label="PASSWORD"
                      type="password"
                      v-model="password"
                      style="
                        background-color: burlywood;
                        opacity: 0.91;
                        font-weight: 900;
                      "
                      :rules="[
                        (v) => !!v || 'Password is required',
                        (v) =>
                          v.length >= 8 ||
                          'Password must be more than or equal 8 characters',
                      ]"
                      required
                    ></v-text-field>
                  </v-form>
                </v-card-text>
                <v-card-actions class="justify-center">
                  <v-btn
                    style="
                      background-color: saddlebrown;
                      opacity: 0.75;
                      font-weight: 900;
                    "
                    width="90%"
                    @click="login"
                    >Login</v-btn
                  >
                </v-card-actions>
                <v-card-actions class="justify-center">
                  <v-btn
                    style="
                      background-color: darksalmon;
                      opacity: 0.75;
                      font-weight: 900;
                    "
                    width="90%"
                    @click="reset"
                    >Clear</v-btn
                  >
                </v-card-actions>
              </v-card>
            </th>
          </tbody>
        </v-table></v-overlay
      >
    </v-main>
  </v-app>
</template>
<style scoped>
.body {
  /* https://cdn.discordapp.com/attachments/889368640275759175/1091996709418184724/1.jpg */
  background: url(https://pbs.twimg.com/profile_images/1125714163748106241/44IOG7WK_400x400.jpg)
    no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: bisque;
  opacity: 0.9;
}

.text {
  margin-top: 15px;
  text-align: center;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(103, 50, 16);
}

.logo {
  margin-top: 5px;
  position: relative;
  width: 250px;
  height: 250px;
  background-size: contain;
  background-image: url(https://cdn.discordapp.com/attachments/1055391782336213043/1092027218504450148/yinyang1_preview_rev_1.png);
}

.transparent-bg {
  background-color: black;
  background-color: aliceblue;
}
</style>
