<script setup lang="ts">
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto';
import { onMounted } from 'vue';
const day = [
    'Mon',
    'Tue',
    'Wed',
    'Thur',
    'Fri',
    'Sat',
    'Sun'];
const data = {
    labels: day,
    datasets: [{
        label: 'Hot Beverage',
        data: [4, 8, 5, 10, 7, 12, 11],
        fill: false,
        borderColor: 'rgb(255, 96, 0)',
        tension: 0.1
    },
    {
        label: 'Cold Beverage',
        data: [10, 14, 12, 12, 8, 18, 14],
        fill: false,
        borderColor: 'rgb(22, 105, 122)',
        tension: 0.1
    },
    {
        label: 'Frappe Beverage',
        data: [8, 2, 10, 15, 12, 10, 15],
        fill: false,
        borderColor: 'rgb(109, 93, 110)',
        tension: 0.1
    }]
};

const config = {
    type: 'line',
    data: data,
};

onMounted(() => {
    const canvasTag = <ChartItem>document.getElementById('my')
    new Chart(
        canvasTag,
        config
    );
})

</script>

<template>
    <h2></h2>
    <div>
        <canvas id="my"></canvas>
    </div>
</template>
