<script setup lang="ts">
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto';
import { onMounted, ref } from 'vue';
import reportService from '@/services/reports'
import { useReceiptStore } from '@/stores/receipt';
import type OrderChart from '@/types/OrderChart';
const recieptStore = useReceiptStore();
const chartname = ref<OrderChart[]>([]);

onMounted(async () => {
    const res = await reportService.getBestOrderChart();
    console.log("res", res)
    chartname.value = res.data; // อัพเดตค่าของ chartname
    const names = chartname.value.map((item) => {
        return item.name;
    });
    const bestsellers = chartname.value.map((item) => {
        return parseInt(item.bestseller.toString(), 10);
    });
    console.log(names)
    console.log(bestsellers)

    const data = {
        labels: names,
        datasets: [{
            label: 'Sale count',
            data: bestsellers,
            borderColor: 'white',
            backgroundColor: [
                '#FFA559',
                '#FF6000',
                '#454545',
                '#FFE6C7',
                '#795548',
            ],
            hoverOffset: 4
        }]
    };

    const config: ChartConfiguration = {
        type: 'doughnut',
        data: data,
    };

    const canvasTag = <ChartItem>document.getElementById('youChart')
    new Chart(
        canvasTag,
        config
    );
});

</script>

<template>
    <h2></h2>
    <div>
        <canvas id="youChart"></canvas>
    </div>
</template>