<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <canvas ref="mmChart" width="400" height="400"></canvas>
  </div>
</template>

<script setup lang="ts">
import type ReportDayofWeek from "@/types/ReportDayofWeek";
import { defineProps, ref, onMounted } from "vue";
import reportService from "@/services/reports";
import Chart from "chart.js/auto";

const props = defineProps({
  msg: String,
});
const chartdaofweek = ref<ReportDayofWeek[]>([]);
const mmChart = ref<HTMLCanvasElement | null>(null);

onMounted(async () => {
  const res = await reportService.getDayofWeektotalamount();
  chartdaofweek.value = res.data;
  const days = chartdaofweek.value.map((item) => {
    return item.sales_day;
  });
  const total = chartdaofweek.value.map((item) => {
    return parseInt(item.total_products_sold.toString(), 10);
  });
  console.log(days);
  console.log(total);

  const ctx = mmChart.value?.getContext("2d");
  if (!ctx) return;

  const myChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: days,
      datasets: [
        {
          label: "total amount :",
          data: total,
          backgroundColor: [
            "rgb(255, 165, 0)",
            "rgb(238, 130, 238)",
            "rgb(255, 150, 71)",
            "rgb(60, 179, 113)",
            "rgb(26, 150, 255)",
            "rgb(255, 62, 0)",
            "rgb(106, 90, 205)",
          ],
          borderColor: [
            "rgb(255, 165, 0)",
            "rgb(238, 130, 238)",
            "rgb(255, 150, 71)",
            "rgb(60, 179, 113)",
            "rgb(26, 150, 255)",
            "rgb(255, 62, 0)",
            "rgb(106, 90, 205)",
          ],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
});
</script>
