<script setup lang = "ts" >
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto';
import { onMounted, ref } from 'vue';
import reportService from '@/services/reports'
import type ReportDayofweektotal from '@/types/ReportDayofweektotal.js';
const seasontotal = ref<ReportDayofweektotal[]>([]);

onMounted(async () => {
  const res = await reportService.getDayofweekTotalsales();
  console.log("sale res",res)
  seasontotal.value = res.data; // อัพเดตค่าของ chartname
  const seasonname = seasontotal.value.map((item) => {
    return item.day_of_week;
  });
  const total_sales = seasontotal.value.map((item) => {
    return  item.total_sales;
  });
  console.log("season",seasonname)
  console.log("total",total_sales)

  const data = {
    labels: seasonname,
    datasets: [{
        label: 'total sales',
        data: total_sales,
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
    }]
};

const config: ChartConfiguration= {
    type: 'line',
    data: data,
};

  const canvasTag = <ChartItem>document.getElementById('salechart')
  new Chart(
    canvasTag,
    config
  );
});

</script>
<template>
    <h2></h2>
    <div>
        <canvas id="salechart"></canvas>
    </div>
</template>