<script lang="ts" setup>
import { useSummarysalaryStore } from "@/stores/summarysalary";
import { onMounted } from "vue";
const summarysalaryStore = useSummarysalaryStore();
onMounted(async () => {
  await summarysalaryStore.getSummarysalary();
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card-text>
          <v-row
            style="background-color: #454545; color: #f1f1f1"
            class="text-center"
          >
            <v-col cols="2" class="one">ID</v-col>
            <v-col cols="3" class="one">Employee Name</v-col>
            <v-col cols="3" class="one">Date Of Entry</v-col>
            <v-col cols="2" class="one">Work Hour</v-col>
            <v-col cols="2" class="one">Summary Salary</v-col>
          </v-row>
          <v-row
            v-for="item of summarysalaryStore.summarysalary"
            :key="item.id"
            class="text-center"
          >
            <v-col cols="2" class="two">{{ item.employee.id }}</v-col>
            <v-col cols="3" class="two">{{ item.employee.name }}</v-col>
            <v-col cols="3" class="two">
              {{ JSON.stringify(item.date).substring(1, 11) }}
              {{ JSON.stringify(item.date).substring(12, 20) }} hrs</v-col
            >
            <v-col cols="2" class="two"
              >{{ Math.floor(item.work_hour) }} hrs
              {{ Math.floor((item.work_hour % 1) * 60) }} min</v-col
            >
            <v-col cols="2" class="two">{{ item.salary }} THB</v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.one {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

.two {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
</style>
