<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
import CheckMaterialDialog from "./views/material/CheckMaterialDialog.vue";
import BillDialog from "./views/material/BilDialog.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <CheckMaterialDialog></CheckMaterialDialog>
  <BillDialog></BillDialog>
</template>

<style scoped></style>
