<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";

const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <v-container>
    <v-row
      ><v-col> </v-col>
      <v-col>
        <v-btn
          @click="userStore.dialog = true"
          prepend-icon="mdi-plus-circle"
          color="green"
          style="float: right"
          class="rounded-pill"
          >ADD NEW</v-btn
        ></v-col
      ></v-row
    >

    <UserDialog></UserDialog>

    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #454545; color: #f1f1f1">
            <v-col cols="1" class="one">ID</v-col>
            <v-col cols="1.3" class="one">NAME</v-col>
            <v-col cols="1.3" class="one">ADDRESS</v-col>
            <v-col cols="1" class="one">TEL</v-col>
            <v-col cols="1.3" class="one">EMAIL</v-col>
            <v-col cols="1" class="one">POSITION</v-col>
            <v-col cols="1.2" class="one">HOURLY WAGE</v-col>
            <v-col cols="1" class="one">OPERATIONS</v-col>
          </v-row>
          <v-row v-for="item of userStore.users" :key="item.id">
            <v-col cols="1" class="two">{{ item.id }}</v-col>
            <v-col cols="1.3" class="two">{{ item.name }}</v-col>
            <v-col cols="1.3" class="two2">{{ item.address }}</v-col>
            <v-col cols="1" class="two">{{ item.tel }}</v-col>
            <v-col cols="1.3" class="two">{{ item.email }}</v-col>
            <v-col cols="1" class="two">{{ item.position }}</v-col>
            <v-col cols="1.2" class="two">{{ item.hourly_wage }}</v-col>
            <v-col cols="1" class="two"
              ><v-btn
                class="mr-5"
                @click="userStore.editUser(item)"
                icon="mdi-pencil-circle"
                color="blue"
              ></v-btn
              ><v-btn
                @click="userStore.deleteUser(item.id!)"
                icon="mdi-trash-can-outline"
                color="error"
              ></v-btn
            ></v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.one {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
}

.one2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

.two {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: medium;
}

.two2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  font-size: medium;
}

.three {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
</style>
